@page
@model ListModel
@{
    ViewData["Title"] = "Lista produktów";
}
<h2>Lista produktów</h2>
<div class="row col-sm-12">
<a asp-page="Create" class="btn btn-primary btn-large">Dodaj</a>
</div>
<br /><br />
<table class="table table-striped">
    <thead>
    <tr>
    <th scope="col">@Html.DisplayNameFor(model =>
    Model.productList[0].id)</th>
    <th scope="col">@Html.DisplayNameFor(model =>
    Model.productList[0].name)</th>
    <th scope="col">@Html.DisplayNameFor(model =>
    Model.productList[0].price)</th>
    <th scope="col">Akcja</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.productList)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(m => p.id)</th>
                <td>@Html.DisplayFor(m => p.name)</td>
                <td>@Html.DisplayFor(m => p.price)</td>
                <td>
                    <a asp-page="Details" asp-route-id=@p.id>Szczegóły</a> |
                    <a asp-page="Edit" asp-route-id=@p.id>Edytuj</a> |
                    <a asp-page="Delete" asp-route-id=@p.id>Kasuj</a> |
                    <a asp-page="./../Basket/Index" asp-page-handler="AddToBasket" asp-route-id="@p.id">Dodaj do koszyka</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="./../Basket/Index" class="btn btn-primary" style="float:right">Przejdź do koszyka</a>